@model Team6New_MIS4200.Models.Employees

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

    </dl>
    <div class="well" style="background-image : linear-gradient(#ffbd28, white)">
        
        @{

            var total = ViewBag.total;
            var excellence = ViewBag.Excellence;
            var integrity = ViewBag.Integrity;
            var balanced = ViewBag.Balanced;
            var culture = ViewBag.Culture;
            var innovate = ViewBag.Innovate;
            var passion = ViewBag.Passion;
            var stewardship = ViewBag.Stewardship;

            <h3>Total recognitions recieved = @total</h3>
            <h4>Excellence awards = @excellence</h4>
            <h4>Integrity Awards = @integrity</h4>
            <h4>Balanced Awards = @balanced</h4>
            <h4>Culture Awards = @culture</h4>
            <h4>Innovate Awards = @innovate</h4>
            <h4>Passion Awards = @passion</h4>
            <h4>Stewardship Awards = @stewardship</h4>

        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
