@model Team6New_MIS4200.Models.Employees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

    </dl>

    @{
        var total = ViewBag.total;
        var excellence = ViewBag.Excellence;
        var integrity = ViewBag.Integrity;
        var balanced = ViewBag.Balanced;
        var culture = ViewBag.Culture;
        var innovate = ViewBag.Innovate;
        var passion = ViewBag.Passion;
        var stewardship = ViewBag.Stewardship;

        <h2>Total recognitions recieved = @total</h2>
        <h3>Excellence awards = @excellence</h3>
        <h3>Integrity Awards = @integrity</h3>
        <h3>Balanced Awards = @balanced</h3>
        <h3>Culture Awards = @culture</h3>
        <h3>Innovate Awards = @innovate</h3>
        <h3>Passion Awards = @passion</h3>
        <h3>Stewardship Awards = @stewardship</h3>

    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
