@model Team6New_MIS4200.Models.Recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nominations.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nominations.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognition.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognition.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.award)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.surveyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
